body {
    font-family: 'Montserrat-Black', sans-serif;
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

/* navbar */

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

.nav-item {
    padding: 0 18px;
}

/* title */

.title-header {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.header-img {
    width: 60%;
    transform: rotate(25deg);
}

/* feature */
#features{
    padding: 1% 15%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.feature-header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.31rem;
}

.feature-p {
    text-align: center;
    color: #8f8f8f;
    padding-top: 5px;
}

.feature-icon {
    display: inline-block;
    text-align: center;
    color: #ef8172;
    width: 100%;
    margin: 10% auto 5% auto;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* testimonials */

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #ffff;
}

.testimonial-h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin-right: 10px;

}

/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    padding: 20px 20px 50px;
}

/* Pricing */

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}