body {
    font-family: 'Montserrat-Black', sans-serif;
    text-align: center;
}

#title {
    background-color: #ff4c68;
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navbar */

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

.nav-item {
    padding: 0 18px;
}

/* title */

.title-header {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0deg);
    }
}

/* feature */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-box{
    background-color: white;
    padding-right: 50px;
} 
.feature-header {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.31rem;
}

.feature-p {
    color: #8f8f8f;
    padding-top: 5px;
}

.feature-icon {
    display: inline-block;
    color: #ef8172;
    width: 100%;
    margin: 10% auto 5% auto;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* testimonials */

#testimonials {

    background-color: #ef8172;
    color: #ffff;
}

.testimonial-h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin-right: 10px;

}

/* press */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    padding: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA */

#cta{
    background-color: #ff4c68;
}

.cta-title{
    font-family: "Montserrat-Black",sans-serif;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5% 20%;
}

.cta-btn{
    margin: 0% 3% 5% 0;
}

/* footer */

#footer{
    background-color: #fff;
    padding: 7% 15%;
}

.footer-link{
    margin: 3% 5%;
}
.footer-mark{
    color: #8f8f8f;
    letter-spacing: 5px;
}
.footer-icon{
    margin-right: 15px;
}
.footer-icon:link{
    color: black;
}

.footer-icon:hover{
    color: lightblue;
}